<odoo>
    <menuitem id="main_center_paysystem_menu" name="Center Paysystem" sequence="1"/>

    <menuitem id="student_menu" name="Students" parent="main_center_paysystem_menu" action="action_student"/>
    <menuitem id="teacher_menu" name="Teachers" parent="main_center_paysystem_menu" action="action_teacher"/>
    <menuitem id="course_menu" name="Courses" parent="main_center_paysystem_menu" action="action_course"/>
    <menuitem id="group_menu" name="Groups" parent="main_center_paysystem_menu" action="action_group"/>
    <menuitem id="payment_menu" name="Payments" parent="main_center_paysystem_menu" action="action_payment"/>
</odoo>
